@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@500&display=swap');

html {
  font-family: 'M PLUS 1p', sans-serif;
  position: relative;
}

.bg-white {
  background-color: #813906 !important;
}


body {
  margin: 0;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.6;
  color: #212529;
  text-align: left;
  background: #fde7ca;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #f7f7f7;
  background-clip: border-box;
  border: 6px solid rgb(255 172 2);
  border-radius: 3rem 0;
  margin-bottom: 20px;
}

.card-header {
  color: white;
  border-radius: 2rem 0 0 0;
  border: solid 10px rgb(255,172,2);
}

.footer {
  text-align: center;
  background-color: #813906;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}

.copyright {
  height: 100%;
  margin: 0 0;
  color: white;
  display: table-cell;
  vertical-align: middle;
}

.button {
  width: 25%;
}

@media screen and (max-width: 479px) {
  .button {
    width: 45%;
  }
}