html {
  font-family: 'M PLUS 1p', sans-serif;
}

.bg-white {
  background: linear-gradient(to bottom right, #fc8601, #fff);
}

body {
  margin: 0;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.6;
  color: #212529;
  text-align: left;
  background: #fde7ca;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #f7f7f7;
  background-clip: border-box;
  border: 1px solid rgb(0 0 0);
  border-radius: 0.25rem;
}