.explanation {
  width: 100%;
  background-color: rgb(255, 197, 7);
  text-align: center;
}

.explanation h3{
  color: rgb(0, 0, 0);
  display: block;
}

.demo {
  display: flex;
  justify-content: space-around;
}

.GIF {
  width: 50%;
  height: auto;
  display: block;
  margin-bottom: 20px;
  border: solid 5px darkorange;
}

.howTo {
  width: 25%;
  height: auto;
  display:flex;
  flex-flow: column;
  justify-content:space-around;
}

.function {
  color: rgb(0, 0, 0);
  font-size: 30px;
  display: block;
}

@media screen and (max-width: 500px) {
  .demo {
    display: block;
  }


  .GIF {
    width: 95%;
    height: auto;
    display: block;
    margin: 0 auto 20px;
    border: solid 5px darkorange;
  }

  .howTo {
    width: 95%;
    margin: 0 auto 20px;
    height: auto;
    flex-flow: column;
    justify-content:space-around;
  }
}