.container {
  position: relative;
  max-width: 800px;
}

html {
  font-family: 'Lato', sans-serif;
}

.bg-white {
    background: linear-gradient(to bottom right, #35f5f5, #fff);
}

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.6;
  color: #212529;
  text-align: left;
  background: #e6f3fd;
}